.signin-container, .signup-container {
  border-radius: 10px;
}

.v-btn {
  margin: 5px;
}

hr {
  height: 0;
  
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0;
  border-right: 0;
  border-left: 0;

  margin: 10px 0;
}

.theme--light.v-application {
  code {
    padding: 7px;
    background-color: #F6F8FA;
  }

  pre code {
    padding: 0;
  }
}

/*** CUSTOM SCROLLBAR - Taken from a personal project ***/
::-webkit-scrollbar {
  width: 5px;   /** Target vertical scroll-bars */
  height: 8px;  /** Target horizontal scroll-bars */
}

/* Corner of the track (will sometimes show a small white square) */
::-webkit-scrollbar-corner  {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
